CompileFlags:
  Add: [
    # Remove all built-in definitions
    "-undef",

    # Indicator for things which shouldn't be processed in IDEs
    "-DDECOMP_IDE_FLAG",

    # Default to C++03
    "--language=c++",
    "-std=c++03",

    # No standard includes
    "-nostdinc",
    "-nostdinc++",
    "-fno-builtin",

    # Target definitions
    "--target=ppc32-unknown=linux-eabi",
  ]
---
# C files
If:
  PathMatch: .*\.c
  PathExclude: .*/stlport/.* # STLport is not C
CompileFlags:
  Remove: [
    "--language=",
    "-std=",
  ]
  Add: [
    "--language=c",
    "-std=c99",
  ]
