CompileFlags:
  Add: [
    # Remove all built-in definitions
    "-undef",

    # MWCC flags, for STLport
    "-D__MWERKS__=0x4302",
    "-D__PPCGEKKO__",
    "-D__PPCBROADWAY__",

    # Indicator for things which shouldn't be processed in IDEs
    "-DDECOMP_IDE_FLAG",
  ]
---
# STLport is not C
If:
  PathMatch: .*/stlport/.*
CompileFlags:
  Remove: [
    "--language=",
    "-std=",
  ]
  Add: [
    "--language=c++",
    "-std=c++98",
  ]
