# Cache directories
.idea/
.vs/
__pycache__/

# Ninja
build/
.ninja_deps
.ninja_log
build.ninja
objdiff.json

# Doxygen output
doxygen/

# Excluded tools
tools/mwcc_compiler/*

# Generated context files
ctx.c
ctx.cpp
ctx.h
ctx.hpp

# Original game files
orig/*
!orig/SZBE69.sha1

# Used to persist certain empty folders
# Search patterns covering folders that need to be persisted must end with an asterisk,
# or else this file will always be ignored
!*.gitkeep

# General-purpose ignore
ignore/
ignored/
*.ignore.*
*.ignored.*

# rust target folders
tools/*/target/
