name: Build

on:
  push:
  pull_request:

permissions:
  contents: read
  packages: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/darkrta/rb3-build:main
    strategy:
      fail-fast: false
      matrix:
        version: [SZBE69_B8]
    if: github.repository_owner == 'DarkRTA'
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: recursive
    - name: Git config
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - name: Prepare
      run: cp -R /orig .
    - name: Build
      run: |
        python configure.py --map --version ${{ matrix.version }} \
            --binutils /binutils --compilers /compilers
        ninja all_source build/${{ matrix.version }}/progress.json \
            build/${{ matrix.version }}/report.json
    - name: Upload progress
      if: github.ref == 'refs/heads/master' && matrix.version == 'SZBE69_B8'
      continue-on-error: true
      env:
        PROGRESS_API_KEY: ${{secrets.PROGRESS_API_KEY}}
      run: |
        python tools/upload_progress.py -b https://progress.decomp.club/ -p rb3 -v ${{matrix.version}} \
          build/${{matrix.version}}/progress.json
    - name: Upload map
      uses: actions/upload-artifact@v3
      with:
        name: ${{matrix.version}}_maps
        path: build/${{matrix.version}}/**/*.MAP
    - name: Upload report
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.version }}_report
        path: build/${{ matrix.version }}/report.json

  build-nonmatching:
    runs-on: ubuntu-latest
    container: ghcr.io/darkrta/rb3-build:main
    strategy:
      fail-fast: false
    if: github.repository_owner == 'DarkRTA'
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: recursive
    - name: Git config
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - name: Prepare
      run: cp -R /orig .
    - name: Build
      run: |
        python configure.py --map --version SZBE69_B8 \
          --binutils /binutils --compilers /compilers --wrapper wibo \
          --non-matching
        ninja
    - name: Upload map
      uses: actions/upload-artifact@v3
      with:
        name: SZBE69_B8_maps
        path: build/SZBE69_B8/**/*.MAP

  website:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master' && github.repository_owner == 'DarkRTA'
    steps:
    - name: Checkout website code
      uses: actions/checkout@v4
      with:
        repository: DarkRTA/rb3-decomp-website
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: SZBE69_B8_report
        path: ./artifacts
    - name: Rename artifact
      run: |
        mv ./artifacts/report.json ./artifacts/progress.json
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: "8.x.x"
    - name: Build Website
      run: |
        python build.py
    - name: Upload website artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: './dist'
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
